{% extends 'base.html' %}
{% load static %}
{% block body %}

    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'homepage/images/review_img.jpg' %}" alt="..." width="247">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body ">
                            <h5 class="card-title"></h5>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Stars <i class="fas fa-star"></i> </label>
                                    <div class="control">
                                        <div class="select">
                                            <select class="form-select form-select-sm" name="stars">
                                                <option value="1">1 </option>
                                                <option value="2">2</option>
                                                <option value="3" selected>3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-floating">
                                    <label for="floatingTextarea"></label>
                                    <div>
                    <textarea class="form-control" placeholder="Leave a review here" id="floatingTextarea"
                              name="content"></textarea>
                                    </div>
                                </div>
                                <br/>
                                <div class="field">
                                    <div class="control">
                                        <input type="submit" value="Add review">
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    {% else %}
        <p>Please sing in for review</p>
    {% endif %}



		</div>
	</div>
</div>



{% endblock %}