{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="container1">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ moto.picture }}" class="img-thumbnail" alt="..." width="500">
            </div>
            <div class="col-md-7">
                <p class="details"><i class="fas fa-warehouse"></i> Motorbike Details</p>
                <h2><i class="fas fa-motorcycle"></i> {{ moto.make }} {{ moto.type }}</h2>
                <p></p>
                <img src="" class=stars>
                <p class="price"> <i class="fas fa-money-bill-wave"></i> From: €{{ moto.price }}/day</p>
                <p><b><i class="fas fa-gas-pump"></i> Fuel usage: </b>{{ moto.fuel_usage }} L/100Km</p>
                <p><b><i class="fas fa-bolt"></i> Power: </b>{{ moto.power }} kw</p>
                <p><b><i class="fas fa-credit-card"></i> Deposit:</b> €{{ moto.deposit }}</p>
                <p><b><i class="fas fa-address-card"></i> License Class:</b> {{ moto.license }} category</p>
                <p><a href="{% url 'homepage:reservation' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Reservation

                </a>
                </p>

            </div>
        </div>
        <br/>
        <div class="row">
            <p class="details"><i class="fas fa-info-circle"></i> Bike Info</p>
            <p class="citat">{{ moto.additional_info }}</p>

        </div>
        <br/>
        <div class="row">
            <p class="details"><a href="{% url 'homepage:addreview' moto.id %}"><i class="fas fa-comment-medical"></i></a> Reviews... </p>

        </div>

        {% for review in moto.reviews.all %}
            <div class="row justify-content-center">
                <div class="card mb-2 shadow " style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ review.user.userprofile.picture.url }}" alt="..." width="80px">
                            <p class="name"><b>{{ review.user.username }}</b></p>
                            <p class="rating"><b><i class="fas fa-star"></i> Rating {{ review.stars }}</b></p>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body combody">
                                <p class="card-text comtext">{{ review.content }}</p>
                                <p class="card-text comtext"><small class="text-muted">Added: {{ review.date_added|date:"Y-m-d" }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <div>
                No reviews yet..
            </div>
        {% endfor %}

    </div>

{% endblock %}