
{% extends 'base.html' %}
{% load static %}
{% block body %}


    <img src="{% static 'homepage/images/bikes.png' %}" class="img-fluid" alt="...">
    {% if moto_list %}
        <div class="container">
            <div class="row justify-content-center">
                {% for moto in moto_list %}
                    <div class="col-md-4">
                        <div class="card shadow mt-3" style="width: 20rem;">
                            <div class="inner">
                                <img src="{{ moto.picture }}" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ moto.make }} {{ moto.type }}</h5>
                                <p class="card-text">From: {{ moto.price }}€/day</p>
                                <a href="{% url 'homepage:detail' moto.id %}" class="btn btn-primary">Details</a>
                                {% if perms.homepage.editmoto %}
                                    <a href="{% url 'homepage:editmoto' moto.id %}" class="btn btn-primary">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% else %}
        <p> No motors available</p>
    {% endif %}
{% endblock %}