{% extends 'base.html' %}
{% block body %}

    <h1> Price List</h1>
    {% if perms.homepage.addnewprice %}
        <a href="{% url 'homepage:addnewprice' %}" class="far fa-plus-square"></a>
    {% endif %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Motorcycle/Day price:</th>
            <th>1-3 Days</th>
            <th>4-6 Days</th>
            <th>7-13 Days</th>
            <th>14-365 Days</th>
            <th>Deposit</th>
        </tr>
        {% for price in price_list %}
            <tr>
            <td>{{ price.moto.make }} {{ price.moto.type }}</td>
            <td>{{ price.onetothree }}€</td>
            <td>{{ price.fourtosix }}€</td>
            <td>{{ price.seventothirteen }}€</td>
            <td>{{ price.moto.price }}€</td>
            <td>{{ price.moto.deposit }}€</td>
            {% if perms.homepage.deleteprice %}
                <td><a href='{% url 'homepage:editprice' price.id %}' class="fas fa-edit"></a></td>
                <td><a href='{% url 'homepage:deleteprice' price.id %}' class="fas fa-trash-alt"></a></td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>

{% endblock %}