<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:home' %}"><img src="{% static 'homepage/images/logo.jpg' %}"
                                                                      alt="" width="247" height="45"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:reservation' %}">Rent a bike</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:pricelist' %}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                </li>
                {% if perms.homepage.reslist %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'homepage:addnewmoto' %}">Add new bike</a></li>
                        <li><a class="dropdown-item" href="{% url 'homepage:reslist' %}">Reservation list</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="far fa-envelope"></i> Messages</a></li>
                    </ul>
                {% endif %}
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar nav">
                    <li class="nav-item">
                        {% if user.social_auth.all %}
                            {% for ass in user.social_auth.all %}
                                {% if ass.provider == 'facebook' %}
                                    <img src="{{ ass.extra_data.picture.data.url }}" alt="" width="70" height="70"
                                         style="border-radius: 50%">
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a><img src="{{ user.userprofile.picture.url }}" class="rounded-circle" width="50"
                                    height="50"></a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:profile' %}">Profile</a>
                    </li>
                </ul>

            {% else %}
                <ul class="navbar nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:signup' %}">SignUp</a>
                    </li>
                </ul>

            {% endif %}

        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
<script src="https://kit.fontawesome.com/0e78a24019.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<footer>
    <br/>
    <div class="footer-copyright text-center py-1">
        <img src={% static 'homepage/images/logo2.png' %} alt="" width="120" height="120">
    </div>
    <div class="footer-copyright text-center py-2">© 2021 Copyright:
        <a href="https://www.facebook.com/penciu.bogdan">#PenciuBogdan</a>
    </div>

</footer>
</body>
</html>